# Copy this file to .env and customize as needed
# These values are pre-configured in docker-compose.yml for lab use

FLAG=CTF{h4rd_pr0mpt_1nj3ct10n_byp4ss_3sc4p3}
DB_PASSWORD=H@rdP4ssw0rd2026!
INTERNAL_API_KEY=sk-hard-l3v3l-d0n0t-sh4re-xyz789abc
AZURE_TENANT_ID=deadbeef-dead-beef-dead-beefdeadbeef
AZURE_CLIENT_ID=cafebabe-cafe-babe-cafe-babecafebabe
AZURE_SUBSCRIPTION_ID=12345678-1234-1234-1234-123456789012
